:root {
    --reference-light: hsl(120 100 97);
	--reference-dark: hsl(120 100 3);
	--main-color: hsl(30 100 50);
	--main-color-light: hsl(30 100 83.5);
	--main-color-dark: hsl(30 100 16.5);
	--accent-color: hsl(210 100 50);
	--accent-color-light: hsl(210 100 83.5);
	--accent-color-dark: hsl(210 100 16.5);
}


html {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
    background-color: var(--reference-light);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

h1, button, select, input, a {
    color: var(--accent-color);
    text-align: center;
}

h2, h3, h4 {
    color: var(--main-color);
    border-color: var(--main-color);
}

label, p {
    color: var(--accent-color);
    text-align: center;
}

button, select, a {
    background-color: var(--reference-dark);
}

a {
    color: var(--main-color);
    border-color: var(--main-color);
    border: 2px solid;
    background-color: var(--reference-light);
}

button:hover, select:hover, a:hover {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: var(--reference-dark);
    transform: scale(1.2);
    transition: all .2s ease-out;
}


