body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

div#navbar {
    background-color: var(--reference-dark);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

div#cardButtons {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    min-height: 60vh;
}

div#scrollpage {
    width: 70%;
    height: 100%;
}

div#scrollpage > div#main {
    min-height: 96%;
}

div#scrollpage > div#footer {
    min-height: 4%;
}

div#cardButtons > a {
    padding: 3%;
    margin: 1%;
    text-decoration: none;
    user-select: none;
}

a {
    color: var(--main-color);
    text-align: center;
    text-decoration: none;
    border-width: 0px;
}

div#cardButtons > a {
    background-color: var(--reference-light);
    color: var(--main-color);
    border: 2px solid var(--main-color)
}

div#cardButtons > a.selected, div#cardButtons > a:hover {
    background-color: var(--reference-dark);
    color: var(--accent-color);
    border-color: var(--accent-color);
}

h2 > a {
    text-decoration: none;
    background-color: transparent;
}

div#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
}

div#main > button {
    border-color: var(--accent-color);
    padding: 3%;
}

div#main > button:hover {
    border-color: var(--main-color);
    background-color: var(--reference-light);
}

