:root {
    --light-background: hsl(48, 100%, 96%);
    --dark-background: hsl(48, 66%, 4%);
    --light-a: hsl(333, 96%, 66%);/* FC6DAB */
    --light-b: hsl(160, 96%, 66%); /* 99EDCC */
    --light-c: hsl(216, 96%, 66%); /* 9AC4F8 */
    --light-d: #fff;
    --dark-a: hsl(333, 66%, 33%);/* FC6DAB */
    --dark-b: hsl(160, 66%, 33%); /* 99EDCC */
    --dark-c: hsl(216, 66%, 33%); /* 9AC4F8 */
    --dark-d: #000;
}

.theme-light {
    --background-true: var(--light-background);
    --background-inverse: var(--dark-background);
    --primary-true: var(--dark-a);
    --primary-inverse: var(--light-a);
    --secondary-true: var(--dark-b);
    --secondary-inverse: var(--light-b);
    --accent-true: var(--dark-c);
    --accent-inverse: var(--light-c);
}

.theme-dark {
    --background-true: var(--dark-background);
    --background-inverse: var(--light-background);
    --primary-true: var(--light-a);
    --primary-inverse: var(--dark-a);
    --secondary-true: var(--light-b);
    --secondary-inverse: var(--dark-b);
    --accent-true: var(--light-c);
    --accent-inverse: var(--dark-c);
}

html {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: var(--background-true);
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1, button, select, input {
    color: var(--primary-true);
}

h2, h3, h4 {
    color: var(--secondary-true);
    border-color: var(--secondary-true);
}

label, p {
    color: var(--accent-true);
}

button, select {
    background-color: var(--background-true);
}

button:hover, button:focus, select:hover, select:focus {
    color: var(--primary-inverse);
    border-color: var(--primary-inverse);
    background-color: var(--background-inverse);
}



























/* atkinson-hyperlegible-regular - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/atkinson-hyperlegible-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/atkinson-hyperlegible-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/atkinson-hyperlegible-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/atkinson-hyperlegible-v7-latin-regular.svg#AtkinsonHyperlegible') format('svg'); /* Legacy iOS */
}
/* atkinson-hyperlegible-italic - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/atkinson-hyperlegible-v7-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/atkinson-hyperlegible-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/atkinson-hyperlegible-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/atkinson-hyperlegible-v7-latin-italic.svg#AtkinsonHyperlegible') format('svg'); /* Legacy iOS */
}
/* atkinson-hyperlegible-700 - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/atkinson-hyperlegible-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/atkinson-hyperlegible-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/atkinson-hyperlegible-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/atkinson-hyperlegible-v7-latin-700.svg#AtkinsonHyperlegible') format('svg'); /* Legacy iOS */
}
/* atkinson-hyperlegible-700italic - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/atkinson-hyperlegible-v7-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/atkinson-hyperlegible-v7-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/atkinson-hyperlegible-v7-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v7-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/atkinson-hyperlegible-v7-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/atkinson-hyperlegible-v7-latin-700italic.svg#AtkinsonHyperlegible') format('svg'); /* Legacy iOS */
}